.sitetitle {
  width:170px;
  }
  .sitetitlefooter{
    margin-left: 15px;
    width:170px;
  }
.title{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
   color: #3A3A3A;
white-space: pre-line;
font-size: 60px;
margin-top: 70px;
margin-left: 25px;
  }

  .ttitle{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
     color: #3A3A3A;
  white-space: pre-line;
  font-size: 60px;
  margin-left: 25px;
    }

  .titlle{
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
     color: #3A3A3A;
  white-space: pre-line;
  margin-top: 10px;
  }

.titlee{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
   color: #3A3A3A;
white-space: pre-line;
font-size: 60px;
margin-top: 70px;
  }

  .undertitle{
   color: #3A3A3A;
    opacity: 0.5;
    font-family: 'Oswald', sans-serif;
    margin-left: 25px;
    margin-top: 25px;
  }

  .undertitleprod{
    color: #3A3A3A;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
  }

  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.navlinks_text{
text-transform: uppercase;
font-family: 'Oswald', sans-serif;
font-size: 15px;
}

.buttonshop{
  background-color: #3A3A3A;
  color: white;
  border: none;font-family: 'Oswald', sans-serif;
  margin-top: 25px;
  padding: 10px 45px 10px 45px;
  margin-left: 25px;
}
.buttonshop:hover{
  background-color: #4e4d4d;
}
.buttonshopp{
  background-color: #3A3A3A;
  color: white;
  border: none;font-family: 'Oswald', sans-serif;
  
  padding: 13px 45px 13px 45px;
  margin-left: 10px;
}
.buttonshopp:hover{
  background-color: #4e4d4d;
}


.buttonshhop{
  background-color: #3A3A3A;
  color: white;
  border: none;font-family: 'Oswald', sans-serif;
  padding: 10px 45px 10px 45px;
  margin-left: 25px;
}

.buttonshhop:hover{
  background-color: #4e4d4d;
}

.infoblock{
 background-color: #c4beafc2;
 padding-top: 20px;
 padding-bottom: 20px;
}

.chisla{
  color:#3A3A3A;
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  text-align: right;
}

.opisaniyaa{
  font-family: 'Oswald', sans-serif; 
  font-size: 15px;
  margin-top: 8px;
  text-align: left;
  opacity: 0.6;
}

.opisaniyya{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  margin-top: 8px;
  text-align: left;
 
}

.opisaniya{
  font-family: 'Oswald', sans-serif; 
  font-size: 15px;
  margin-top: 8px;
  text-align: left;
  opacity: 0.6;
  margin-left: 25px;
}

.formemail{
  padding: 20px 18px;
  border: 1px #3A3A3A;
  height: 50px;
  margin-left: 25px;
}


.seemore{
  background-color: white;
    border:solid 2px #3A3A3A;
    padding: 6px 45px 6px 45px;
  color: #3A3A3A;
  font-family: 'Oswald', sans-serif; 
}


.seemore:hover{
  background-color: rgb(207, 205, 205);
    border:solid 2px #1f1f1f;
    padding: 6px 45px 6px 45px;
  color: #181818;
  font-family: 'Oswald', sans-serif; 
}

.footer{
  background-color: #3A3A3A;
  margin-top: 150px;
}

.footerdescription{
  font-family: 'Nunito', sans-serif;
  color: white;
  margin-top: 30px;
  margin-left: 15px
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.titlefooter{
  font-family: 'Oswald', sans-serif; 
  color: white;
  margin-left: 15px;
  margin-bottom: 15px;
}

.FooterLinks{
  color: white !important;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  opacity: 0.8;
}
.FooterLinkss{
  color: white !important;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  opacity: 0.8;
  margin-left: 15px;
}

.FooterContacts{
  color: white !important;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  opacity: 0.8;
  margin-left: 15px;
}

.FooterLinks:hover{
  opacity: 0.6;
}

.iconsfooter{
  margin-top: 20px;
  color: white;
  margin-left: 15px;
}

.formemail2{
  padding: 10px 18px;
  border: 1px #3A3A3A;
  height: 45px;
  margin-left: 15px;
}
